:root {
  --bs-crayola: #C2D2E9;
  --bs-crayola-bg: #C3DDF1;
  --bs-crayola-border: #C1C7E2;
}

.btn-crayola {
  color: #000;
  background-color: var(--bs-crayola);
  border-color: var(--bs-crayola);
}

.btn-crayola:hover {
  color: #000;
  background-color: var(--bs-crayola-bg);
  border-color: var(--bs-crayola-border);
}

.bg-crayola {
  background-color: var(--bs-crayola) !important;
}

.bg-gradient-crayola {
  background-image: linear-gradient(195deg, var(--bs-crayola) 0%, #AEADCF 100%);
}

.btn-check:focus+.btn-crayola,
.btn-crayola:focus {
  color: #000;
  background-color: var(--bs-crayola-bg);
  border-color: var(--bs-crayola-border);
  box-shadow: 0 0 0 0.2rem rgba(194, 210, 233, 0.5);
}

.btn-check:checked+.btn-crayola,
.btn-check:active+.btn-crayola,
.btn-crayola:active,
.btn-crayola.active,
.show>.btn-crayola.dropdown-toggle {
  color: #000;
  background-color: var(--bs-crayola-border);
  border-color: var(--bs-crayola-border);
}

.btn-check:checked+.btn-crayola:focus,
.btn-check:active+.btn-crayola:focus,
.btn-crayola:active:focus,
.btn-crayola.active:focus,
.show>.btn-crayola.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(194, 210, 233, 0.5);
}

.btn-crayola:disabled,
.btn-crayola.disabled {
  color: #000;
  background-color: var(--bs-crayola);
  border-color: var(--bs-crayola);
}

.btn-crayola,
.btn.bg-gradient-crayola {
  box-shadow: 0 3px 3px 0 rgba(194, 210, 233, 0.15), 0 3px 1px -2px rgba(194, 210, 233, 0.2), 0 1px 5px 0 rgba(194, 210, 233, 0.15);
}

.btn-crayola:hover,
.btn.bg-gradient-crayola:hover {
  background-color: var(--bs-crayola);
  border-color: var(--bs-crayola);
  box-shadow: 0 14px 26px -12px rgba(194, 210, 233, 0.4), 0 4px 23px 0 rgba(194, 210, 233, 0.15), 0 8px 10px -5px rgba(194, 210, 233, 0.2);
}

.shadow-crayola {
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(194, 210, 233, 0.4) !important;
}

.btn-crayola .btn.bg-outline-crayola,
.btn.bg-gradient-crayola .btn.bg-outline-crayola {
  border: 1px solid var(--bs-crayola);
}

.btn-crayola:not(:disabled):not(.disabled).active,
.btn-crayola:not(:disabled):not(.disabled):active,
.show>.btn-crayola.dropdown-toggle,
.btn.bg-gradient-crayola:not(:disabled):not(.disabled).active,
.btn.bg-gradient-crayola:not(:disabled):not(.disabled):active,
.show>.btn.bg-gradient-crayola.dropdown-toggle {
  color: color-yiq(var(--bs-crayola));
  background-color: var(--bs-crayola);
}

.btn-crayola.focus,
.btn-crayola:focus,
.btn.bg-gradient-crayola.focus,
.btn.bg-gradient-crayola:focus {
  color: #fff;
}

.btn-crayola,
.btn.bg-gradient-crayola {
  color: #fff;
}

.btn-crayola:hover,
.btn.bg-gradient-crayola:hover {
  color: #fff;
}